# Project exclude paths
/source/modules/decrypt.js
/source/modules/decrypt.js.map
/source/modules/sumFile.js
/source/modules/sumFile.js.map
/source/modules/sumSentence.js
/source/modules/sumSentence.js.map
/source/modules/sumVocals.js
/source/modules/sumVocals.js.map
/source/modules/unzip.js
/source/modules/unzip.js.map
/source/util/file-reader.js
/source/util/file-reader.js.map
/source/util/promisified.js
/source/util/promisified.js.map
/source/index.js
/source/index.js.map
/secret.dec
/secret.txt
/node_modules/
/__MACOSX/
